form{
    width: 90%;
    max-width: 300px;
    background-color: rgb(60, 103, 139);
    padding: 33px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

label {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: black;
    margin-bottom: 26px;
}

textarea {
    background-color: rgb(19, 33, 82);
    border: 2px solid rgb(133, 168, 125);
    border-radius: 2px;
    box-shadow: 0px 5px 50px rgb(85, 79, 79);
    color: black;
    font-size: 20px;
    text-align: center;
    padding: 12px;
    height: 96px;
    width: calc(100% - 25px);
}

textarea::placeholder {
    color: beige;
    font-family: 'Montserrat';
    font-weight: 400;
}

textarea:focus {
    outline-color: aqua;
}

.TodoForm-buttonContainer{
    margin-top: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.TodoForm-button {
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    color: rgb(65, 60, 53);
    font-weight: 400;
    width: 120px;
    height: 48px;
    border-radius: 2px;
    border: none;
    font-family: 'Montserrat';
}


.TodoForm-button--add{
    background: rgb(22, 24, 145);
    box-shadow: 0px 5px 25px rgb(90, 123, 129, 0.5);
    color: white
}
.TodoForm-button--cancel{
    background: transparent;
    border: 1px solid ;
    color: white ;
}