.TodoItem {
  background-color: #212033;
  position: relative;
  display: flex;
  justify-content: center;
  border-radius: 50px;
  align-items: center;
  margin-top: 24px;
  height: 50px;
  color: #fdfdfd;
  box-shadow: 0px 5px 50px rgba(180, 186, 197, 0.15);
}

.TodoItem-p {
  margin: 24px 0 24px 24px;
  width: calc(100% - 120px);
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}